body {
    margin: 0;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Rajdhani", sans-serif;
}

.container {
    /* background-color: #F4EEB1; */
    background-color: beige;
    min-height: 100vh;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    max-width: 800px;
}

.input-area {
    position: relative;
}

.mission-input {
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    width: 80%;
    border: none;
    border: 1px solid blanchedalmond;
}

.mission-input:focus {
    outline: none;
    border-bottom: 3px solid blanchedalmond;
    border-left: none;
    border-right: none;
    border-top: none;
    transition: 0.5s;
    padding-top: 35px;
}
  
.mission-input + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8f8f8f;
    font-size: 14px;
    top: 6px;
    left: 10px;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}
  
.mission-input:focus + label > span {
    top: 0px;
    color: #333;
}

.add-button {
    background-color: yellowgreen;
    color: white;
    cursor: pointer; /* 마우스 커서를 포인터로 변경하여 사용자에게 클릭 가능성을 나타냄 */
}
.add-button:hover {
    background-color: aquamarine;
}
.add-button:active {
    background-color: azure;
    box-shadow
    : -1px 2px 5px rgba(81, 41, 10, 0.15), 0px 1px 1px rgba(81, 41, 10, 0.15);
    transform: translateY(0.125rem);
}

.mission-zone-container {
    border: 2px solid lightgray;
    margin-top: 10px;
    position: relative;
}

.mission-tabs {
    display: flex;
    border-bottom: 1px solid lightgray;
}

.mission-tabs div {
    padding: 1em;
    cursor: pointer;
}

#tab-underscored {
    height: 5px !important;
    background-color: yellowgreen;
    position: absolute;
    top: 52px;
    left: 0px;
    width: 48px;
    transition: 0.5s;
    padding: 0px;
}

.missions {
    display: flex;
    justify-content: space-between; /*간격 띄우기*/
    width: 100%;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.mission-span {
    padding: 1em;
}

.fa-check {
    color: limegreen;
}
  
.fa-trash {
  color: red;
}
.fa-undo-alt {
  color: lightslategray;
}
.completed-missions {
    text-decoration: line-through;
    background-color: lightgray;
    transition: 0.5s;
}