body {
    margin: 0;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    /* background-color: #F4EEB1; */
    background-color: beige;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

#add-button {
    background-color: yellowgreen;
    color: white;
    cursor: pointer; /* 마우스 커서를 포인터로 변경하여 사용자에게 클릭 가능성을 나타냄 */
}

.mission-zone {
    border: 2px solid lightgray;
    margin-top: 10px;
}

.mission-tabs {
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.mission-tabs div {
    padding: 1em;
    cursor: pointer;
}

#underscored {
    height: 5px;
    background-color: yellowgreen;
    position: absolute;
    width: 60px;
    left: 0px;
    top: 50px;
    padding: 0px;
}

.missions {
    display: flex;
    justify-content: space-between; /*간격 띄우기*/
    padding: 1em;
}

.mission-completed {
    text-decoration: line-through;
}